.container
  width 200px
  height 20px
  
.input
  width 100%
  direction rtl
  text-align right
  
.list
  padding 0
  margin 0

.option
  list-style-type none
  cursor pointer
  text-align center
  padding 5px
  
  &:hover
    background-color lightblue
  